
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.header {
    background-color: #280137;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: sticky;
    top: 0px;
}

.logo-link {
    width: 6%;
    height: 6%;
}

.logo {
    width: 90%;
    height: 90%;

}

a {
    text-decoration: none;
}

.logbutton {
    color:#EDABEF;
}

.logbutton:hover {
    color: #e36ae7;
}

.signbutton {
    color: #EDABEF;
}

.signbutton:hover {
    color: #ffffff;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: large;
}

.header-list li a {
    display: inline-block;
    padding: 17px 20px;
    border: 2px white;
}

.welcome-sign {
    background-color: #400159;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 40px 0; 
}

.soundwaves {
    width: 50%;
    height: auto; 
}

.welcome-text {
    margin-left: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.app-name {
    color: white;
    font-size: 100px;
    text-shadow: #f650d2 1px 0 40px;
    margin-top: 5px;
}

.welcome-text h1, .welcome-text a {
    color: #EDABEF;
    margin-bottom: 10px; 
}


.welcome-text img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.active-trending {
    background-image: url('../static/imgs/trending.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}


.trending-cards {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    flex-basis: 50%;
}

.active-trending .engagement {
    flex: 1; 
    padding-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active-trending .engagement h1 {
    color: white;
    margin-bottom: 20px; 
    font-size: 36px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(0, 0, 0, 0.3); 
    -webkit-text-stroke: 1px #5c195e; 
}

.active-trending .engagement p {
    color: white;
    margin-bottom: 40px; 
    font-size: 18px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: .4px #5c195e;
}

button {
    background-color: #e36ae7; 
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

button:hover {
    background-color: #d149b2;
}

.active-trending .engagement button {
    padding: 15px 30px; 
    font-size: 20px; 
    background-color: #eddbe8;
    color: #d149b2;
}

.active-trending .engagement button:hover {
    background-color: #e2b6d7;
}

.trending-card {
    width: 33%;
    height: 33%;
}

.card-text {
    text-shadow:#3882F6 1px 0 10px;
}

.card-text h1 {
    margin-top: 3px;
    margin-bottom: 0px;
}

.card-text p {
    margin-top: 3px;
}

body {
    margin: 0;
    text-align: center;
}

.join-now {
    position: relative;
    height: 300px;
}

.join-now::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../static/imgs/joinwaves.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scaleY(-1); 
    z-index: -1;
}

.join-now-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 20px;
    background-color: rgba(64, 1, 89, 0.8); 
    border-radius: 10px;
    text-align: center;
}

.join-now-content p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
