
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.header {
    background-color: #280137;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: sticky;
    top: 0px;
}

.logo-link {
    width: 6%;
    height: 6%;
}

.logo {
    width: 90%;
    height: 90%;

}

a {
    text-decoration: none;
}

.logbutton {
    color:#EDABEF;
}

.logbutton:hover {
    color: #e36ae7;
}

.signbutton {
    color: #EDABEF;
}

.signbutton:hover {
    color: #ffffff;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: large;
}

.header-list li a {
    display: inline-block;
    padding: 17px 20px;
    border: 2px white;
}

.welcome-sign {
    background-color: #400159;
}

.welcome-sign h1 {
    margin: 0px;
}

.soundwaves {
    display: flex;
    width: 50%;
    height: 10%;
}

.active-trending {
    background-image: url('../static/imgs/trending.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.trending-cards {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    flex-basis: 50%;
}

.active-trending .engagement {
    padding-top: 7%;
    justify-content: center;
}

.trending-card {
    width: 33%;
    height: 33%;
}

img.album-cover  {
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.card-text {
    text-shadow:#3882F6 1px 0 10px;
}

.card-text h3 {
    margin-top: 3px;
    margin-bottom: 0px;
}

.card-text p {
    margin-top: 3px;
}







body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

form {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}