
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.header {
    background-color: #280137;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: sticky;
    top: 0px;
}

.logo-link {
    width: 6%;
    height: 6%;
}

.logo {
    width: 90%;
    height: 90%;
}

a {
    text-decoration: none;
}

.logbutton {
    color:#EDABEF;
}

.logbutton:hover {
    color: #e36ae7;
}

.signbutton {
    color: #EDABEF;
}

.signbutton:hover {
    color: #ffffff;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: large;
}

.header-list li a {
    display: inline-block;
    padding: 17px 20px;
    border: 2px white;
}

.welcome-sign {
    background-color: #400159;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 40px 0; 
}

.soundwaves {
    width: 50%;
    height: auto; 
}

.welcome-text {
    margin-left: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.app-name {
    color: white;
    font-size: 100px;
    text-shadow: #f650d2 1px 0 40px;
    margin-top: 5px;
}

.welcome-text h1, .welcome-text a {
    color: #EDABEF;
    margin-bottom: 10px; 
}


.welcome-text img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.active-trending {
    background-image: url('../static/imgs/trending.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}


.trending-cards {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    flex-basis: 50%;
}

.active-trending .engagement {
    flex: 1; 
    padding-top: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active-trending .engagement h1 {
    color: white;
    margin-bottom: 20px; 
    font-size: 36px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(0, 0, 0, 0.3); 
    -webkit-text-stroke: 1px #5c195e; 
}

.active-trending .engagement p {
    color: white;
    margin-bottom: 40px; 
    font-size: 18px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: .4px #5c195e;
}

button {
    background-color: #e36ae7; 
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

button:hover {
    background-color: #d149b2;
}

.active-trending .engagement button {
    padding: 15px 30px; 
    font-size: 20px; 
    background-color: #eddbe8;
    color: #d149b2;
}

.active-trending .engagement button:hover {
    background-color: #e2b6d7;
}

.trending-card {
    width: 33%;
    height: 33%;
}

.card-text {
    text-shadow:#3882F6 1px 0 10px;
}

.card-text h3 {
    margin-top: 3px;
    margin-bottom: 0px;
}

.card-text p {
    margin-top: 3px;
}

body {
    margin: 0;
    text-align: center;
}

.join-now {
    position: relative;
    height: 300px;
}

.join-now::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../static/imgs/joinwaves.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scaleY(-1); 
    z-index: -1;
}

.join-now-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 20px;
    background-color: rgba(64, 1, 89, 0.8); 
    border-radius: 10px;
    text-align: center;
}

.join-now-content p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* ... (your existing CSS styles) ... */

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #201b22; /* Dark background color */
}

#home-header {
    position: relative;
    padding-top: .7%;
    padding-bottom: .7%;
    padding-left: 3%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.home-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 10;
    background-color: #1e002e; /* Dark purple */
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.room-list-container {
    flex: 1;
    padding: 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#room-name, #genre {
    color: black;
}

/* Add this to your existing CSS or create a new stylesheet */
#room-sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 6px;
}

#room-sidebar.active {
    width: 250px;
}

#home-button {
    display: flex;
    align-items: center;
}

#home-button .emoji {
    display: inline-block;

}

#home-button.expanded .emoji {
    display: none;
}

#home-button .text {
    display: none;
    margin-left: 110px;
}

#home-button.expanded .text {
    display: inline-block;
}

#room-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    padding-left: 0; 
    transition: margin-right 0.6s ease; 
}

#room-content h1 {
    text-align: center;
}

#message-input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #505050;
    color: white;
}

#chat-messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Set the direction to column */
    align-items: flex-start; /* Align messages to the start (bottom) */
    max-height: 100vh;
    overflow-y: auto;
    text-align: left;
    max-width: 250px;
}

#chat-messages li:not(:first-child) {
    margin-top: 10px;
}

.guest-name {
    font-weight: bold;
    color: #999;  /* You can choose a different color */
    margin-right: 5px;
}

.message-container {
    display: flex;
    align-items: baseline;
}

.user-joined-notification {
    color: purple;
    font-weight: bold;
}

.user-left-notification {
    color: red;
    font-weight: bold;
}


#toggle-chat-container {
    position: fixed;
    top: 50%;
    right: 275px;
    cursor: pointer;
    color: white;
    padding: 10px;
    transition: right 0.6s ease; 
}

.arrow-icon {
    font-size: 20px;
    transition: transform 0.3s ease, margin-left 0.3s ease; /* Add margin-left transition */
}

#chat-box {
    position: fixed;
    bottom: 0;
    right: -275px;
    width: 250px;
    background-color: #303030;
    color: white;
    overflow-y: auto;
    padding: 10px;
    min-height: 100vh; 
    display: flex;
    transition: right 0.6s ease;
    flex-direction: column-reverse;
}

#room-content {
    display: flex;
    justify-content: space-around;
    padding-left: 0; 
    transition: margin-right 0.6s ease; 
}

#toggle-chat-container.active {
    right: 0; 
}

#toggle-chat-container.active .arrow-icon {
    transform: rotate(180deg);
}

#active-users-counter {
    position: fixed;
    top: 13px;
    right: 13px;
    color: white;
    transition: right 0.6s ease; 
}

#queue-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#search-input {
    color: black;
}

#local-songs-container p {
    padding: 10px;
    background-color: #333;
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#local-songs-container p:hover {
    background-color: #555;
}

#queue-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-popup {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #666;
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}