<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weListen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <a class="logo-link" href="{{ url_for('index') }}">
            <img class="logo" src="../static/imgs/logo.png" alt="logo">
        </a>
        <ul class="header-list">
            <li><a href="login" class="logbutton">Login</a></li>
            <li><a href="signup" class="signbutton">Sign Up</a></li>
        </ul>
    </div>

    <div class="welcome-sign">
        <img class="soundwaves" src="{{ url_for('static', filename='imgs/soundwaves.gif') }}">
        <div class="welcome-text">
            <h1>Welcome to</h1>
            <h1 class="app-name">weListen!</h1>
            <a>Share your headphones with all your friends at once!</a>
            <img src="{{ url_for('static', filename='imgs/globe.png') }}">
            <a>From all over the world!</a>
        </div>
    </div>

    <div class="active-trending">
        <div class="engagement">
            <h1>See what people are listening to!</h1>
            <p>Login or listen in as a guest</p>
            <button>Listen In</button>
        </div>
        <div class="trending-cards">
                {% for item in trending_data %}
                <div class="trending-card">
                    <!-- Check if album_cover is available -->
                    {% if item.album_cover %}
                        <img class="album_cover" src="{{ item.album_cover }}" alt="Album Cover" 
                        style="width:100%;height:auto; border-radius: 8px; box-shadow: #3882F6 1px 0 20px">
                    {% endif %}
                    <div class="card-text">
                        <h3>{{ item.artist }}</h3>
                        <p>{{ item.name }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>  
    </div>

    <div class="join-now">
        <div class="join-now-content">
            <p>From jazz to pop, join in with [active_users] friends while you dance, chat, 
                and express yourself in your favorite styles. Start by clicking the Sign Up button!</p>
                <button>Sign Up</button>
        </div>
    </div>
</body>
</html>
