<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title>weListen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <a class="logo-link" href="{{ url_for('index') }}">
            <img class="logo" src="../static/imgs/logo.png" alt="logo">
        </a>
        <ul class="header-list">
            <li><a href="login" class="logbutton">Login</a></li>
            <li><a href="signup" class="signbutton">Sign Up</a></li>
        </ul>
    </div>

    <div class="welcome-sign">
        <img class="soundwaves" src="{{ url_for('static', filename='imgs/soundwaves.gif') }}">
        <div class="welcome-text">
            <h1>Welcome to</h1>
            <h1 class="app-name">weListen!</h1>
            <a>Share your headphones with all your friends at once!</a>
            <img src="{{ url_for('static', filename='imgs/globe.png') }}">
            <a>From all over the world!</a>
        </div>
    </div>

    <div class="active-trending">
        <div class="engagement">
            <h1>See what people are listening to!</h1>
            <p>Login or listen in as a guest</p>
            <button>Listen In</button>
        </div>
        <div class="trending-cards" id="trending-cards-container">
            <!-- populated by main.js -->
        </div>                 
    </div>

    <div class="join-now">
        <div class="join-now-content">
            <p>From jazz to pop, join in with <span id="active-users">your</span> friends while you dance, chat, 
                and express yourself in your favorite styles. Start by clicking the Sign Up button!</p>
                <button>Sign Up</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
